@font-face {
  font-family: "iconfont";
  src: url('./iconfont.woff2') format('woff2'),
       url('./iconfont.woff') format('woff'),
       url('./iconfont.ttf') format('truetype');
}
.iconfont {
  font-family: "iconfont" !important;
  font-size: 16px;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-shezhi:before { content: "\e600"; }
.icon-meirong:before { content: "\e60c"; }
.icon-youxiyouxiji:before { content: "\e61e"; }
.icon-tuikuan:before { content: "\e75a"; }
.icon-gouwuche:before { content: "\e63f"; }
.icon-shouji:before { content: "\e692"; }
.icon-qita:before { content: "\e62b"; }
.icon-shumajiadianleimu:before { content: "\e6f1"; }
.icon-licaishouyi:before { content: "\e624"; }
.icon-jiaotong:before { content: "\e634"; }
.icon-lvhang:before { content: "\e615"; }
.icon-gongzijianyi:before { content: "\e620"; }
.icon-qitadingdan:before { content: "\e89d"; }
.icon-wode:before { content: "\e8a0"; }
.icon-canyin:before { content: "\e8a4"; }
.icon-lingshi:before { content: "\e618"; }
.icon-jiaoyu:before { content: "\e62a"; }
.icon-fanhui:before { content: "\e625"; }
.icon-jiangjinxiangqing:before { content: "\e601"; }
.icon-zhangdan:before { content: "\e643"; }
.icon-jiangjinjilu:before { content: "\e62f"; }
.icon-fangzi:before { content: "\e8ff"; }
.icon-xiedaichongwu:before { content: "\e90d"; }
.icon-riyongpin:before { content: "\e712"; }
.icon-yifu:before { content: "\e616"; }
.icon-tongji:before { content: "\e878"; }
.icon-qiche:before { content: "\ec6d"; }
.icon-ico_hushigongzuozhan_jizhangguanli:before { content: "\e845"; }
.icon-wj-zd:before { content: "\e736"; }
.icon-yanjiu:before { content: "\e60f"; }
.icon-yiliao:before { content: "\e646"; }
.icon-gongzitiao:before { content: "\e66e"; }
.icon-riqi:before { content: "\e65b"; }
.icon-tongji1:before { content: "\e69b"; }
.icon-zichan:before { content: "\e62d"; }
.icon-13:before { content: "\e617"; }
.icon-sousuo:before { content: "\e8b9"; }
.icon-yundong-:before { content: "\e674"; }
.icon-xianzhi:before { content: "\e658"; }
.icon-a-068_jianzhi:before { content: "\e764"; }
.icon-a-068_lijin:before { content: "\e765"; }
